<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>VHCSoft</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div th:fragment="progressbar_fragment">
        <div id="id_uploadprogress" class="hidden">
            <p class="text-warning text-center">Dont close your browser. After completing upload you will be automatically redirected to download site. </p>
            <div id="id_progress_circle" class="text-center">
            </div>
        </div>
    </div>
</body>

</html>
